*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section, 
nav, 
footer{
  padding-left: 10rem;
  padding-right: 10rem;
}

section{
  flex: 1;
}

button{
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 1rem;
  font-weight: 900;
}

/* Navigation Bar */
nav{
  display: flex;
  padding-top: 1em;
  padding-bottom: .5em;
  align-items: center;
}

nav p {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
}

nav a{
  text-decoration: none;
  font-size: 1.125rem;
}

ul{
  display: flex;
  gap: 1.5em;
  list-style-type: none;
}

/* Text and Background Colors */

nav,
footer,
.one{
  background-color: #1F2937;
}

.three{
  background-color: #e5e7eb;
}

.main-color{
  color: #f9faf8;
}

.secondary-color, a{
  color: #e5e7eb;
}

.quote, 
.two{
  color: #1f2937;
}

/* Section One*/

.one{
  display: flex;
  gap: 3rem;
  padding-top: 3em;
  padding-bottom: 3em;
  align-items: center;
}

.one span{
  display: block;
  margin-bottom: .3em;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

.one p{
  font-size: 1.125rem;
  margin-bottom: 1em;
}

img{
  width: 1000px;
  height: 250px;
}

/* Section two */

h2{
  font-size: 2.25rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.boxes{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.box{
  text-align: center;
  width: 150px;
  margin-bottom: 5rem;
}

.box-border{
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: .5rem;
}

/* Section three */

.quote{
  margin-top: 3em;
  margin-bottom: 3em;
}

.quote-text{
  font-size: 2.25rem;
  font-weight: 100;
  font-style: italic;
}

.author{
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
}

/* Section four */

.blue-box{
  display: flex;
  background-color: #3882f6;
}

.four button{
  border: 2px solid white;
}

/* Footer */

footer{
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}